<div class="panel-group">
  <div class="panel m-1">
    <div class="panel-heading" data-toggle="collapse" data-target="#filter-class" aria-expanded="true">
      <p class="panel-title accordion-toggle"><b class="va-heading2">By Node / Edge Type</b></p>
    </div>

    <div id="filter-class" class="collapse show text-center m-1">
      <a class="btn btn-sm btn-outline-dark filter-node-class d-inline-flex justify-content-center va-text"
        *ngFor="let nc of nodeClasses" href="#" role="button" (click)="filterElesByClass($event)">{{nc}}</a>
      <br>
      <a class="filter-edge-class d-inline-flex justify-content-center va-text" *ngFor="let ec of edgeClasses" href="#"
        role="button" (click)="filterElesByClass($event)">{{ec}}<br></a>
    </div>
  </div>

  <div class="panel m-1">
    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#rule-elements" aria-expanded="false">
      <p class="panel-title accordion-toggle"><b class="va-heading2">By Rules</b></p>
    </div>
    <div id="rule-elements" class="collapse">
      <div class="form-inline m-2 justify-content-center">
        <label class="va-heading3">Node / Edge: &nbsp;</label>
        <select class="custom-select filter-form va-text" [(ngModel)]="selectedClass" (change)="changeSelectedClass()">
          <option [disabled]="opt.isDisabled" *ngFor="let opt of classOptions" [value]="opt.text">{{opt.text}}
          </option>
        </select>
      </div>

      <div class="row mx-1 my-3 no-gutters justify-content-center" id="filter-rule-inputs">
        <div class="col-3 px-1">
          <select class="custom-select filter-form va-small-text" [(ngModel)]="selectedProp"
            (change)="changeSelectedProp()">
            <option *ngFor="let p of selectedClassProps" [value]="p">{{p}}</option>
          </select>
        </div>

        <div class="col-3 pr-1">
          <select class="custom-select filter-form va-small-text" [(ngModel)]="selectedOperatorKey">
            <option *ngFor="let o of operatorKeys">{{o}}</option>
          </select>
        </div>

        <div class="col-5 pr-1">
          <div [hidden]="isDateProp">
            <input type="text" title="Value" [(ngModel)]="filterInp"
              class="form-control filter-form filter-input va-small-text" placeholder="Filter...">
          </div>
          <div [hidden]="!isDateProp">
            <input type="text" id="filter-date-inp0" class="form-control query-input-wide va-small-text">
          </div>
        </div>

        <div class="col-1 pr-1 text-center">
          <a href="#" id="filter-add-rule-btn" title="Add Rule" (click)="onAddRuleClick()">
            <img src="assets/img/add.svg" height="16px" width="16px" alt="Add Rule">
          </a>
        </div>
      </div>

      <div class="text-center borderless mx-1 my-3">
        <div>
          <div *ngFor="let r of filteringRules; let i = index;" class="border">
            <span class="va-text">
              Bring <b>{{r.className}}</b> where:
            </span>
            <div *ngFor="let rule of r.rules; let j = index;" class="mx-1 my-2">
              <div class="row align-items-center no-gutters">
                <!-- up, down buttons for the rule -->
                <div class="col-lg-2 col-sm-1 text-left">
                  <a href="#" class="nav-up-link mx-1" (click)="changeFilterRuleOrder(i, j, true)" *ngIf="j!=0">
                    <img src="assets/img/up-arrow.svg" height="16px" width="16px" alt="Navigate Up">
                  </a>
                  <a href="#" class="nav-down-link" (click)="changeFilterRuleOrder(i, j, false)" *ngIf="j!=0">
                    <img src="assets/img/down-arrow.svg" height="16px" width="16px" alt="Navigate Down">
                  </a>
                </div>
                <!-- rule body -->
                <div class="col-lg-9 col-sm-10 text-left va-text">
                  <a href="#" class="logic-op-link text-center mx-1" *ngIf="j!=0"
                    (click)="ruleOperatorClicked(i, j, rule.ruleOperator)">{{rule.ruleOperator}}</a>
                  <b>{{rule.propertyOperand}}</b> {{rule.operator}} <b>{{rule.inputOperand}}</b>
                </div>
                <!-- delete rule button -->
                <div class="col-1 text-right pr-1">
                  <a href="#" class="delete-rule-link" (click)="deleteFilterRule(i, j)">
                    <img src="assets/img/close.svg" height="16px" width="16px" alt="Delete rule">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-center m-1" *ngIf="filteringRules.length > 0">
          <input class="btn btn-dark va-text m-2" type="button" value="Execute" (click)="runFiltering()">

          <div class="custom-control custom-checkbox m-1">
            <input type="checkbox" class="form-check-input" [(ngModel)]="isFilterOnDb" />
            <label class="form-check-label va-text">Database</label>
          </div>
          <div class="form-check form-check-inline m-1">
            <input type="checkbox" class="form-check-input" [(ngModel)]="isMergeQueryResults"
              [disabled]="!isFilterOnDb" />
            <label class="form-check-label va-text">Merge</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>