<div *ngIf="recommendItems != null;" class="table-responsive justify-content-center">
    <div id="recom-div">
      <table class="table table-sm table-hover va-text">
        <thead class="thead-light">
          <tr>
            <th scope="col">Uri</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recommendItem of recommendItems">
            <td style="color:black;">{{recommendItem.uri}}</td>
            <td style="color: black;">{{recommendItem.score}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-dark va-text m-2 center" (click)="recomRemove();" type="button" data-toggle="tooltip" data-placement="top"
        title="Clear All Data">Clear</button>
    </div>
  </div>
  