
.table-responsive {
    table-layout: fixed;
    overflow: auto;
    justify-content: center;
    width: 24.5rem;
    margin-top: 20px;
    
  }

/*   button {
    margin-left: 10rem;
    float: initial; 
    color: #1D9AF2;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
  }
  button:hover {
    box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    transform: translateX(-5px);
  } */

  .container {
    margin: 0 auto;
    justify-content: center;
    
  }
  h5{
    font-size: 1em;
    margin-left: 25%;
  }
  th{
    width: 10%;
    
  }
  td{
    width: 10%;
    word-break: break-word;
    color:red;
  }
  table{
    width: 90%;
  }
  
  
