<div class="dropdown-container d-flex d-inline-flex flex-column">
  <span class="text-center">
    <img title="Add" src="assets/img/add.svg" alt="Add Rule" (click)="isShowDropDown=!isShowDropDown">
  </span>
  <div *ngIf="isShowDropDown" class="dropdown-content">
    <button type="button" class="p-1 dropdown-item va-small-text" (click)="btnClick('AND')">AND</button>
    <button type="button" class="p-1 dropdown-item va-small-text" (click)="btnClick('OR')">OR</button>
    <button *ngIf="isShowConditionBtn" type="button" class="p-1 dropdown-item va-small-text"
      (click)="btnClick('C')">Condition</button>
  </div>
</div>