<div *ngIf="isShow" ngResizable ngDraggable [rzHandles]="'all'" [position]="position" class="draggable-content"
  (endOffset)="onMoveEnd($event)" (rzStop)="onResizeStop($event)" [style.width]="currSize.width + 'px'"
  [style.height]="currSize.height + 'px'">
  <div class="d-flex">
    <div class="mx-auto p-1">Query History</div>
    <button type="button" class="close m-1" (click)="closeClicked()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="list-group">
    <button *ngFor="let h of graphHistory; let i = index" type="button" class="list-group-item list-group-item-action"
      [ngClass]="{'active': activeItemIdx == i}" (click)="load(i)">
      <div class="d-flex">
        <div class="mr-2">{{i+1}}</div>
        <div class="mr-auto"> {{h.expo}} </div>
        <div>
          <img class="toolbar-element p-1" *ngIf="h.base64png.length > 6" src="../../assets/img/graph.svg"
            title="show graph" (mouseover)="onMouseOver(i)" (mouseout)="onMouseOut()">
        </div>
        <div>
          <img src="../../assets/img/toolbar/delete-simple.svg" class="toolbar-element p-1" title="delete"
            (click)="delete(i)">
        </div>
      </div>
    </button>
  </div>
</div>

<div *ngIf="imgSrc" class="img-bg">
  <img class="popped-img rounded border" [src]="imgSrc">
</div>