.draggable-content {
  z-index: 1001 !important;
  position: absolute;
  background: rgba(255, 255, 255, 0.90);
  white-space: pre-wrap;
  border: 2px solid #555555;
  border-radius: 5px;
  overflow: hidden;
  min-width: 150px;
  min-height: 600px;
}

.std-icon {
  width: 16px;
}

.img-bg {
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  background-color: lightgray;
  opacity: 0.9;
}

.popped-img {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: auto;
}
