<div class="panel-group">
  <div class="panel m-1">
    <div class="panel-heading" data-toggle="collapse" data-target="#filter-class" aria-expanded="true">
      <p class="panel-title accordion-toggle"><b class="va-heading2">Filter by Node/Edge Type</b></p>
    </div>

    <div id="filter-class" class="collapse show text-center m-1">
      <a class="btn btn-sm btn-outline-dark filter-node-class d-inline-flex justify-content-center va-text"
        *ngFor="let nc of nodeClasses" href="#" role="button" (click)="filterElesByClass($event)">{{nc}}</a>
      <br>
      <a class="filter-edge-class d-inline-flex justify-content-center va-text" *ngFor="let ec of edgeClasses" href="#"
        role="button" (click)="filterElesByClass($event)">{{ec}}<br></a>
    </div>
  </div>

  <div class="panel m-1">
    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#rule-elements" aria-expanded="false">
      <p class="panel-title accordion-toggle"><b class="va-heading2">Filter by Rules</b></p>
    </div>
    <div id="rule-elements" class="collapse">

      <div class="d-flex flex-wrap justify-content-center">
        <!-- current rules -->
        <div *ngFor="let r of currRules; let i = index;" class="rounded va-text m-1 p-1"
          [style.border]="r.isEditing ? '2px solid #888888':'2px solid #dee2e6'">
          <div class="text-center">
            <span (click)="editRule(i)" class="pointer">{{r.name}}</span>&nbsp;
            <img src="assets/img/close.svg" (click)="deleteRule(i)" title="Delete filtering rule">
          </div>
        </div>
        <div class="rounded va-text m-1 p-1" [style.border]="isAddingNewRule ? '2px solid #888888':'2px solid #dee2e6'">
          <div title="New metric" class="text-center" (click)="newRuleClick()">
            <b class="pointer">new</b>&nbsp;<img src="assets/img/add.svg">
          </div>
        </div>
      </div>

      <div class="d-flex flex-wrap justify-content-center">
        <input AutoSizeInput [includeBorders]="true" [extraWidth]="3" type="text" title="Name"
          [(ngModel)]="currRuleName" class="form-control name-inp my-1 va-small-text">
        <input *ngIf="isEditingARule" class="btn btn-dark va-text m-1" type="button" value="Update" (click)="updateRule()">
        <input *ngIf="isAddingNewRule" [disabled]="!filteringRule" class="btn btn-dark va-text m-1" type="button" value="Add" (click)="addRule()">
      </div>

      <div class="form-inline m-2 justify-content-center">
        <select class="custom-select filter-form va-text" [disabled]="isClassTypeLocked" [(ngModel)]="selectedClass"
          (change)="changeSelectedClass()">
          <option [disabled]="opt.isDisabled" *ngFor="let opt of classOptions" [value]="opt.text">{{opt.text}}
          </option>
        </select>
        <a href="#" class="mx-2" (click)="resetRule()" title="Reset rule">
          <img src="assets/img/refresh.svg">
        </a>
      </div>

      <!-- rule input -->
      <app-property-rule (onRuleReady)="addRule2FilteringRules($event)" [propertyChanged]="currProperties"
        [isStrict]="true">
      </app-property-rule>

      <div class="text-center borderless mx-1 my-3">
        <div>
          <div *ngIf="filteringRule" class="border">
            <span class="va-text">
              Get <b>{{filteringRule.className}}</b> where:
            </span>
            <div *ngFor="let rule of filteringRule.rules; let j = index;" class="mx-1 my-2">
              <div class="row align-items-center no-gutters">
                <!-- up, down buttons for the rule -->
                <div class="col-lg-2 col-sm-1 text-left">
                  <a href="#" class="mx-1" (click)="changeFilterRuleOrder(j, true)" *ngIf="j!=0">
                    <img src="assets/img/up-arrow.svg" title="Navigate Up">
                  </a>
                  <a href="#" class="nav-down-link" (click)="changeFilterRuleOrder(j, false)" *ngIf="j!=0">
                    <img src="assets/img/down-arrow.svg" title="Navigate Down">
                  </a>
                </div>
                <!-- rule body -->
                <div class="col-lg-9 col-sm-10 text-left va-text">
                  <a href="#" class="logic-op-link text-center mx-1" *ngIf="j!=0"
                    (click)="ruleOperatorClicked(j, rule.ruleOperator)">{{rule.ruleOperator}}</a>
                  <b>{{rule.propertyOperand}}</b> {{rule.operator}} <b>{{rule.inputOperand}}</b>
                </div>
                <!-- delete rule button -->
                <div class="col-1 text-right pr-1">
                  <a href="#" (click)="deleteFilterRule(j)">
                    <img src="assets/img/close.svg" title="Delete rule">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-center m-1" *ngIf="filteringRule">
          <input class="btn btn-dark va-text m-1" type="button" value="Execute" (click)="runFiltering()">
          <div class="custom-control custom-checkbox m-1">
            <input type="checkbox" class="form-check-input cb-filter" [(ngModel)]="isFilterOnDb" />
            <label class="form-check-label va-text">Database</label>
          </div>
          <div class="custom-control custom-checkbox m-1">
            <input type="checkbox" class="form-check-input cb-filter" [(ngModel)]="tableInput.isLoadGraph"
              [disabled]="!isFilterOnDb" />
            <label class="form-check-label va-text">Graph</label>
          </div>
          <div class="custom-control custom-checkbox m-1">
            <input type="checkbox" class="form-check-input cb-filter" [(ngModel)]="tableInput.isMergeGraph"
              [disabled]="!isFilterOnDb" />
            <label class="form-check-label va-text">Merge</label>
          </div>
        </div>
      </div>
      <app-table-view [params]="tableInput" [tableFilled]="tableFilled"
        (onDataForQueryResult)="getDataForQueryResult($event)" (onFilteringChanged)="filterTable($event)">
      </app-table-view>
    </div>
  </div>

  <div class="panel m-1">
    <div class="panel-heading collapsed" (click)="groupTabCliked()" data-toggle="collapse" data-target="#group"
      aria-expanded="true">
      <p class="panel-title accordion-toggle"><b class="va-heading2">Group</b></p>
    </div>

    <div id="group" class="collapse">
      <app-group-tab></app-group-tab>
    </div>
  </div>

  <div class="panel m-1">
    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#graph-theoretic-measures"
      aria-expanded="true">
      <p class="panel-title accordion-toggle"><b class="va-heading2">Graph Theoretic Properties</b></p>
    </div>

    <div id="graph-theoretic-measures" class="collapse">
      <app-graph-theoretic-properties-tab></app-graph-theoretic-properties-tab>
    </div>
  </div>

</div>