<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">
    <img [src]="toolLogo" id="brand-logo" class="d-inline-block p-1" alt="Logo">
    <b class="va-title" [innerHTML]="toolName"></b>
  </a>

  <ul class="navbar-nav heading">
    <input #file type="file" (change)="fileSelected()" accept="text/*, .json" style="display: none;" />

    <li class="nav-item" *ngFor="let item of menu">
      <div class="dropdown">
        <button id="file-dropdown" class="btn btn-light dropdown-toggle va-heading1" type="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{item.dropdown}}
        </button>
        <div class="dropdown-menu" aria-labelledby="file-dropdown">
          <button class="dropdown-item va-text" type="button" *ngFor="let act of item.actions" id="{{act.id}}"
            (click)="triggerAct(act)">{{act.txt}}</button>
        </div>
      </div>
    </li>
  </ul>
</nav>