<nav class="navbar navbar-expand-md navbar-light bg-light">

  <a class="navbar-brand" href="#">
    <img [src]="toolLogo" id="brand-logo" class="d-inline-block p-1" alt="Logo">
    <b class="va-title" [innerHTML]="toolName"></b>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav heading mr-auto">
      <input #file type="file" (change)="fileSelected()" accept="text/*, .json" style="display: none;" />

      <li class="nav-item" *ngFor="let item of menu">
        <div class="dropdown">
          <button id="file-dropdown" class="btn btn-light dropdown-toggle va-heading1" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{item.dropdown}}
          </button>
          <div class="dropdown-menu" aria-labelledby="file-dropdown">
            <button class="dropdown-item va-text" type="button" *ngFor="let act of item.actions" id="{{act.id}}"
              (click)="triggerAct(act)">{{act.txt}}</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>