#timebar-ctrl-pnl img:hover {
  /* if you make it 1 stack order changes */
  opacity: 0.999;
}

#timebar-ctrl-pnl {
  height: 1.5em;
}

#chart_div {
  height: 9vh;
}

#timebar-ctrl-pnl img {
  opacity: 0.7;
  z-index: 1;
  height: 1.5vh;
  min-height: 15px;
}

#filter_div {
  height: 5vh;
}

.range-str {
  z-index: 1;
  width: 300px;
}

.date-div {
  z-index: 1;
}

.date-inp{
  height: auto;
  padding: 0px !important;
}