<div>
  <div class="d-flex flex-wrap align-items-center justify-content-center m-1">
    <select class="custom-select tight-select filter-form va-small-text" [(ngModel)]="selectedPropFn">
      <option value="">Please choose a property</option>
      <option *ngFor="let prop of theoreticProps" [value]="prop.fn">{{prop.text}}
      </option>
    </select>
  </div>
  <div class="d-flex flex-wrap align-items-center justify-content-center m-1">
    <div class="custom-control custom-checkbox m-1">
      <input type="checkbox" class="form-check-input cb-filter" [(ngModel)]="isDirectedGraph" />
      <label class="form-check-label va-text">Directed</label>
    </div>
    <div class="custom-control custom-checkbox m-1">
      <input type="checkbox" class="form-check-input cb-filter" [(ngModel)]="isMapNodeSizes" />
      <label class="form-check-label va-text">Adjust node size</label>
    </div>
    <input type="number" (keydown.enter)="avgNodeSizeChanged()" min="5" max="1000" title="Average node size"
      [(ngModel)]="currNodeSize" class="mx-1 inp-3-char form-control va-text">
  </div>
  <div class="d-flex flex-wrap align-items-center justify-content-center m-1">
    <div class="custom-control custom-checkbox m-1">
      <input type="checkbox" class="form-check-input cb-filter" [(ngModel)]="isMapBadgeSizes" />
      <label class="form-check-label va-text">Adjust badge size</label>
    </div>
    <app-color-picker (onColorSelected)="colorSelected($event)" [currColor]="badgeColor"></app-color-picker>
  </div>
  <div class="d-flex flex-wrap align-items-center justify-content-center m-1">
    <input class="btn btn-dark va-text m-1" type="button" value="Execute" (click)="runProperty()">
    <div class="custom-control custom-checkbox m-1">
      <input type="checkbox" class="form-check-input cb-filter" [(ngModel)]="isOnSelected" />
      <label class="form-check-label va-text">On selected only</label>
    </div>
  </div>
</div>