<table class="table table-sm table-hover va-text">
  <thead *ngIf="params.results.length > 0">
    <tr>
      <th scope="col">#</th>
      <th scope="col" *ngFor="let col of params.columns; let i = index;">{{col}}</th>
      <th scope="col" [hidden]="params.isLoadGraph">Graph</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of params.results; let i = index;" (mouseenter)="onMouseEnter(r[0].val)"
      (mouseleave)="onMouseExit(r[0].val)">
      <th scope="row">{{ (params.currPage - 1) * params.pageSize + i + 1 }}</th>
      <td *ngFor="let e of r | slice:1; let j = index;">
        <span *ngIf="e.type == 0 || e.type == 3">{{e.val}}</span>
        <span *ngIf="e.type == 1">{{e.val | number:'1.0-2'}}</span>
        <span *ngIf="e.type == 2">{{e.val | date:'medium'}}</span>
      </td>
      <td [hidden]="params.isLoadGraph"><a href="#" class="query-result" (click)="getDataForQueryResult(r[0].val)"><img
            class="img-icon" src="../assets/img/play-button.svg"></a></td>
    </tr>
  </tbody>
</table>
<div class="d-flex align-items-center justify-content-center m-1 va-text">
  <ngb-pagination *ngIf="params.results.length > 0" (pageChange)="pageChanged($event)" [collectionSize]="params.resultCnt"
    [(page)]="params.currPage" [pageSize]="params.pageSize" [maxSize]="3" [rotate]="true">
    <ng-template ngbPaginationPrevious><img class="img-sm-icon" src="/assets/img/left-arrow.svg"></ng-template>
    <ng-template ngbPaginationNext><img class="img-sm-icon" src="/assets/img/right-arrow.svg"></ng-template>
  </ngb-pagination>
</div>