<div class="panel-group">
  <div class="panel" *ngIf="selectedClasses && selectedClasses.length > 0">
    <div class="panel-heading" data-bs-toggle="collapse" data-bs-target="#prop-tab" aria-expanded="true">
      <span class="panel-title accordion-toggle"><b class="va-heading2">{{selectedClasses}}</b></span>
    </div>

    <div id="prop-tab" class="collapse show text-center m-1">
      <table class="table table-responsive table-borderless table-sm">
        <tbody>
          <tr *ngFor="let item of selectedItemProps" class="small">
            <td class="text-end"><b class="va-text">{{item.key}}</b></td>
            <td class="va-text text-start">{{item.val}}</td>
          </tr>
        </tbody>
      </table>

      <app-table-view *ngIf="isShowObjTable" [params]="multiObjTableInp" [tableFilled]="multiObjTableFilled"
        [clearFilter]="clearMultiObjTableFilter" (onFilteringChanged)="filterMultiObjTable($event)">
      </app-table-view>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading collapsed" data-bs-toggle="collapse" data-bs-target="#stat-tab" aria-expanded="false">
      <span class="panel-title accordion-toggle"><b class="va-heading2">Statistics</b></span>
    </div>
    <div id="stat-tab" class="collapse">
      <app-table-view *ngIf="isShowStatsTable" [params]="tableInput" [tableFilled]="tableFilled"
        (onFilteringChanged)="filterTable($event)">
      </app-table-view>
    </div>
  </div>

  <app-panel-container [panels]="customSubTabs" [containerId]="'obj-custom-sub-tab'"> </app-panel-container>

</div>