body, html {
    height: 100%;
}

#style-bar {
    height: 24px;
    margin-bottom: 2px;
}

#cy {
    height: 70vh;
    margin-right: 2px;
    margin-bottom: 1px;
}

#timeline {
    height: 15vh;
    margin-right: 2px;
}

.tab-column {
    height: 80vh;
    margin: 10px 0 0 10px;
    overflow-y: scroll;
}