body, html {
    height: 100%;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#tool-name {
    font-size: 20px;
}

#style-bar {
    height: 24px;
    margin-bottom: 2px;
}

#cy {
    height: 70vh;
    margin-right: 2px;
    margin-bottom: 1px;
}

#timeline {
    height: 15vh;
    margin-right: 2px;
}

.tab-column {
    height: 80vh;
    margin: 10px 0 0 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.filter-btn {
    margin: 2px;
}

.strike-through {
    text-decoration: line-through;
}

.heading {
    font-weight: bold;
    font-size: 16px;
}

.text {

}