img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.draggable-content {
  z-index: 1001 !important;
  position: absolute;
  background: rgba(255, 255, 255, 0.90);
  white-space: pre-wrap;
  border: 2px solid #555555;
  border-radius: 5px;
  overflow: hidden;
  height: auto;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none !important;
}

input,
select {
  display: inline;
}

.modal-header {
  cursor: move;
}

select[multiple] {
  max-height: 200px;
}
