<input #file type="file" (change)="fileSelected()" accept="text/*, .json" style="display: none;" />
<div class="row no-gutters my-1" id="toolbar-container">
  <ng-container *ngFor="let m of menu">
    <div class="col-xs-auto border rounded">
      <ng-container *ngFor="let i of m.items">
        <div class="toolbar-element-container">
          <img *ngIf="i.isRegular" [src]="i.imgSrc" class="toolbar-element" [title]="i.title" (click)="triggerAct(i)">
          <input *ngIf="!i.isRegular" class="toolbar-element va-text form-control filter-form filter-input"
            id="highlight-search-inp" type="text" [(ngModel)]="searchTxt" (keydown.enter)="highlightSearch()">
        </div>
      </ng-container>
    </div>
    <div>&nbsp;&nbsp;</div>
  </ng-container>
  <div class="va-small-text ml-auto my-auto">
    {{statusMsg}}
  </div>

</div>