img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.timebar-metric-name {
  cursor: pointer;
}

.timebar-metric-editing {
  background: #eaeaea;
  border: solid 1px black;
}

.name-inp {
  padding: 1%;
  width: min-content;
}
