<div class="subpanel-heading collapsed px-1" data-toggle="collapse" data-target="#new-statistic-panel"
  aria-expanded="false">
  <span class="panel-title accordion-toggle"><span class="va-heading3">Configure Statistics</span></span>
</div>

<div id="new-statistic-panel" class="collapse">

  <div class="d-flex flex-wrap justify-content-center">
    <!-- current metrics -->
    <div *ngFor="let r of currMetrics; let i = index;" class="rounded va-text m-1 p-1"
      [style.border]="r.isEditing ? '2px solid #888888':'2px solid #dee2e6'" [style.background-color]="r.color + 'B4'">
      <div class="text-center">
        <span (click)="editMetric(i)" class="timebar-metric-name">{{r.name}}</span>&nbsp;
        <img src="assets/img/close.svg" (click)="deleteMetric(i)" title="Delete metric">
      </div>
    </div>
    <div class="rounded va-text m-1 p-1" [style.border]="isAddingNew ? '2px solid #888888':'2px solid #dee2e6'">
      <div title="New metric" class="text-center" (click)="newMetricClick()">
        <b class="timebar-metric-name">new</b>&nbsp;<img src="assets/img/add.svg">
      </div>
    </div>
  </div>
  <!-- editing div (input and current filter) -->
  <div [ngClass]="{'collapse': isHideEditing}">
    <!-- name and type input -->
    <div class="form-inline m-1 justify-content-center">
      <input AutoSizeInput [includeBorders]="true" [extraWidth]="3" type="text" title="Name"
        [(ngModel)]="currMetricName" class="form-control name-inp my-1 va-small-text">

      <app-color-picker (onColorSelected)="colorSelected($event)" [currColor]="currMetricColor"></app-color-picker>

      <select title="Type" [disabled]="isAClassSelectedForMetric" class="custom-select tight-select filter-form va-text"
        [(ngModel)]="selectedClass" (change)="changeSelectedClass()">
        <option [disabled]="opt.isDisabled" *ngFor="let opt of classOptions" [value]="opt.text">{{opt.text}}
        </option>
      </select>
    </div>

    <div class="form-inline justify-content-center" *ngIf="!filteringRule || !filteringRule.rules">
      <button type="button" class="btn btn-dark btn-sm va-small-text m-1" (click)="initRules('AND')">AND</button>
      <button type="button" class="btn btn-dark btn-sm va-small-text m-1" (click)="initRules('OR')">OR</button>
      <button type="button" class="btn btn-dark btn-sm va-small-text m-1" (click)="initRules('C')">Condition</button>
    </div>

    <div *ngIf="filteringRule && filteringRule.rules">
      <span class="va-text">
        Get <b>{{filteringRule.className}}</b> where:
      </span>
      <app-rule-tree [root]="filteringRule.rules" (onOperatorAdded)="newOperator($event)"
        (onRuleRequested)="showPropertyRule($event)" (onEmpty)="queryRuleDeleted()"> </app-rule-tree>

      <!-- rule input -->
      <div *ngIf="isShowPropertyRule">
        <app-property-rule (onRuleReady)="addRule2FilteringRules($event)" [propertyChanged]="currProperties"
          [loadRule]="editingPropertyRule" [isStrict]="false">
        </app-property-rule>
      </div>
    </div>

    <!-- create/edit rule -->
    <div class="text-center borderless mx-1 my-3">
      <div class="d-flex align-items-center justify-content-center m-1"
        *ngIf="filteringRule && filteringRule.rules && filteringRule.rules.r && (!filteringRule.rules.r.ruleOperator || (filteringRule.rules.r.ruleOperator && filteringRule.rules.children.length > 0) )">
        <input class="btn btn-dark va-text m-2" type="button" [value]="newStatBtnTxt" (click)="addStat()">
      </div>
    </div>
  </div>
</div>