<div class="panel m-1">
  <div class="panel-heading" data-toggle="collapse" data-target="#general-settings" aria-expanded="true">
    <p class="panel-title accordion-toggle"><b>General</b></p>
  </div>

  <div id="general-settings" class="collapse show text-center m-1">
    <div class="card border-0 m-1" *ngFor="let setting of settings; let i = index;">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" [(ngModel)]="setting.isEnable"
          (change)="onBoolSettingsChanged(setting)">
        <label class="form-check-label va-text">{{setting.text}}</label>
      </div>
    </div>
    <div class="card border-0 m-1">
      <div class="form-inline">
        <label class="form-check-label va-text">Highlight width</label>
        <div class="mx-1">
          <input type="number" max="20" min="2" (keydown.enter)="changeHighlightOptions()" [(ngModel)]="highlightWidth"
            class="form-control inp-3-char va-text">
        </div>
      </div>
    </div>
    <div class="card border-0 m-1">
      <div class="form-inline">
        <label class="form-check-label va-text">Compound padding</label>
        <div class="mx-1">
          <input type="text" (keydown.enter)="changeCompoundPadding()" [(ngModel)]="compoundPadding"
            class="form-control inp-3-char va-text">
        </div>
      </div>
    </div>
    <div class="card border-0 m-1">
      <div class="form-inline">
        <label class="form-check-label va-text" id="textAl1">Timebar animation step</label>
        <div class="range-slider" id="rangeDv">
          <input class="range-slider__range" (click)="setTimebarPlayingStep()" [(ngModel)]="timebarPlayingStep" type="range"
            min="1" max="100">
        </div>
      </div>
    </div>
    <div class="card border-0 m-1">
      <div class="form-inline">
        <label class="form-check-label va-text" id="textAl">Timebar animation speed</label>
        <div class="range-slider" id="rangeDv">
          <input class="range-slider__range" (click)="setTimebarPlayingSpeed()" type="range"
            [(ngModel)]="timebarPlayingSpeed" min="-2500" max="-10">
        </div>
      </div>
    </div>
    <div class="card border-0 m-1">
      <div class="form-inline">
        <label class="form-check-label va-text" id="textAl">Timebar zoom sensitivity</label>
        <div class="range-slider" id="rangeDv">
          <input class="range-slider__range" (click)="setTimebarZoomStep()" type="range"
            [(ngModel)]="timebarZoomingStep" min="0" max="100">
        </div>
      </div>
    </div>
    <div class="card border-0 m-1">
      <div class="form-inline">
        <label class="form-check-label va-text">Timebar inclusion type &nbsp;</label>
        <div class="form-check-inline va-text" *ngFor="let str of timebarInclusionTypes; let i = index;">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" (click)="inclusionTypeChanged(i)" name="optradio" [checked]="i==1">{{str}}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>