<div class="row m-1 no-gutters justify-content-center">
  <div class="col-3 px-1">
    <select class="custom-select tight-select filter-form va-small-text" [(ngModel)]="selectedProp"
      [disabled]="isGenericTypeSelected" (change)="changeSelectedProp()">
      <option *ngFor="let p of selectedClassProps" [value]="p">{{p}}</option>
    </select>
  </div>

  <div class="col-3 pr-1">
    <select class="custom-select tight-select filter-form va-small-text" [(ngModel)]="selectedOperatorKey"
      [disabled]="isGenericTypeSelected">
      <option *ngFor="let o of operatorKeys" [value]="o">{{o}}</option>
    </select>
  </div>

  <div class="col-5 pr-1">
    <div [hidden]="selectedPropertyCategory != 0">
      <input [type]="currInpType" title="Value" [(ngModel)]="filterInp" [disabled]="isGenericTypeSelected"
        (click)="filterInpClicked()" class="form-control filter-form filter-input va-small-text"
        placeholder="Filter...">
    </div>
    <div [hidden]="selectedPropertyCategory != 1">
      <input type="text" #dateInp [disabled]="isGenericTypeSelected" class="form-control va-small-text">
    </div>
    <div [hidden]="selectedPropertyCategory != 2">
      <select class="custom-select tight-select filter-form va-small-text" [(ngModel)]="filterInp">
        <option *ngFor="let p of finiteSetPropertyMap" [value]="p.key">{{p.value}}</option>
      </select>
    </div>
  </div>

  <div class="col-1 pr-1 text-center">
    <img src="assets/img/add.svg" alt="Add Rule" (click)="onAddRuleClick()">
  </div>
</div>
<div class="draggable-content" ngResizable ngDraggable [position]="position" [rzHandles]="'all'" *ngIf="isShowTxtArea"
  [rzMinWidth]="250" [rzMinHeight]="150" (endOffset)="onMoveEnd($event)"
  (rzStop)="onResizeStop($event)" [style.width]="txtAreaSize.width + 'px'" [style.height]="txtAreaSize.height + 'px'">
  <div class="d-flex flex-column h-100">
    <div class="flex-grow-1 h-100 m-1">
      <textarea class="va-text form-control" rows="3" cols="40" [(ngModel)]="textAreaInp"></textarea>
    </div>
    <div class="align-self-center">
      <button type="button" class="m-1 btn btn-primary va-text" (click)="txtAreaPopupOk()">OK</button>
      <button type="button" class="m-1 btn btn-secondary va-text" (click)="txtAreaPopupCancel()">Cancel</button>
    </div>
  </div>
</div>