<div class="panel-heading-hideable">
  <div class="panel-title"><b class="va-heading2"> {{selectedClasses}}</b></div>
</div>
<div class="list-group list-group-flush">
  <div *ngFor="let item of selectedItemProps">
    <div class="row small m-1">
      <div class="col-4 text-right px-1"><b class="va-text">{{item.key}}</b></div>
      <div class="col-8 px-1 va-text">{{item.val}}</div>
    </div>
  </div>
</div>

<div class="panel-heading-hideable">
  <div class="panel-title"><b class="va-heading2"> Statistics</b></div>
</div>
<div>
  <div class="va-text" *ngFor="let c of classStats">{{c}}</div>
  <hr class="my-1" />
  <div class="va-text" *ngFor="let c of objStats">{{c}}</div>
</div>