<div class="custom-query">
  <div class="va-text">
    <div class="d-flex align-items-center justify-content-center">
      Get actors who played in more than
      <input type="number" [(ngModel)]="movieCnt" class="form-control query-input va-small-text m-1"> movies
    </div>
    <div class="d-flex d-inline align-items-center justify-content-center"> between
      <input type="text" id="query0-inp1" class="form-control query-input-wide va-small-text m-1">
      <div>and</div>
      <input type="text" id="query0-inp2" class="form-control query-input-wide va-small-text m-1">
    </div>
  </div>
</div>
<div class="d-flex align-items-center justify-content-center m-1">
  <input class="btn btn-dark va-text m-2 center" type="button" (click)="prepareQuery()" value="Execute">

  <div class="custom-control custom-checkbox m-1">
    <input type="checkbox" class="form-check-input" [(ngModel)]="isLoadGraph" />
    <label class="form-check-label va-text">Graph</label>
  </div>
  <div class="form-check form-check-inline m-1">
    <input type="checkbox" class="form-check-input" [(ngModel)]="isMergeGraph" [disabled]="!isLoadGraph" />
    <label class="form-check-label va-text">Merge</label>
  </div>
</div>

<table class="table table-sm table-hover va-text" id="query0-result">
  <thead *ngIf="results.length > 0">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Actor</th>
      <th scope="col">Count</th>
      <th scope="col" [hidden]="isLoadGraph">Graph</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of results; let i = index;" (mouseenter)="onMouseEnter(d.id)" (mouseleave)="onMouseExit(d.id)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ d.name }}</td>
      <td>{{ d.count }}</td>
      <td [hidden]="isLoadGraph"><a href="#" class="query-result" (click)="getDataForQueryResult(d.id)"><img
            class="img-icon" src="../../../assets/img/play-button.svg"></a></td>
    </tr>
  </tbody>
</table>