.icon {
  width: 16px;
  height: 16px;
}


.down-icon:after {
  font-family: 'FontAwesome', sans-serif;
  content: "\f077";
  float: right;
  padding-right: 4px;
}

/* symbol for "collapsed" panels */
.up-icon:after {
  font-family: 'FontAwesome', sans-serif;
  content: "\f078";
  float: right;
  padding-right: 4px;
}

.max-h500 {
  max-height: 500px;
  transition: max-height 0.35s ease-in;
  overflow: auto;
}

.max-h0 {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s ease-out;
}

.img-btn {
  width: 24px;
  height: 24px;
  cursor: pointer;
}