#table{
  margin-top: 10px;
  font-size: 12px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr, td {
  line-height: 1.2rem;
  width: 100px !important;
  word-wrap: break-word;
  max-width: 250px; 
}

nz-select {
  width: 200px;
}

input{
  width: 200px;
  margin-left: 100px;
}

