<div *ngIf="root">

  <button class="btn btn-outline-secondary btn-sm va-small-text mr-1" *ngIf="root.children && root.children.length > 0"
    (click)="isShowChildren = !isShowChildren">{{isShowChildren ? '-' : '+'}}</button>

  <div *ngIf="root.r" class="d-inline-flex justify-content-center">
    <span *ngIf="!root.r.ruleOperator">
      <span *ngIf="root.parent">
        <a href="#" class="mr-1" (click)="changeQueryRuleOrder(root, true)">
          <img src="assets/img/up-arrow.svg" title="Navigate Up">
        </a>
        <a href="#" class="mr-1" (click)="changeQueryRuleOrder(root, false)">
          <img src="assets/img/down-arrow.svg" title="Navigate Down">
        </a>
      </span>
      <span *ngIf="!root.r.propertyOperand"> --ALL-- </span>
      <span class="va-text">{{root.r.propertyOperand}} {{root.r.operator}} {{root.r.inputOperand}}</span>
    </span>

    <span>
      <span *ngIf="root.r.ruleOperator">
        <a href="#" class="logic-op-link text-center mr-1" (click)="operatorClicked(root)">{{root.r.ruleOperator}}</a>
      </span>

      <span *ngIf="!root.r.ruleOperator">
        <div ngbDropdown class="d-inline-block">
          <div class="mx-1 text-center">
            <img src="assets/img/add.svg" alt="Add Rule" ngbDropdownToggle>
          </div>
          <div ngbDropdownMenu>
            <button ngbDropdownItem type="button" class="btn btn-dark btn-sm va-small-text"
              (click)="addOperator(root, 'AND')">AND</button>
            <button ngbDropdownItem type="button" class="btn btn-dark btn-sm va-small-text"
              (click)="addOperator(root, 'OR')">OR</button>
            <button ngbDropdownItem *ngIf="root.children.length < 1 && root.parent" type="button"
              class="btn btn-dark btn-sm va-small-text" (click)="addRule(root.parent)">Condition</button>
          </div>
        </div>
      </span>

      <a *ngIf="!root.r.ruleOperator" href="#" class="mr-1" (click)="addRule(root)">
        <img src="assets/img/edit.svg" title="Edit">
      </a>

      <a href="#" class="mr-1" (click)="deleteNode(root)">
        <img src="assets/img/close.svg" title="Delete">
      </a>
    </span>
  </div>

  <div [style.display]="isShowChildren ? 'block' : 'none'">
    <ul *ngFor="let node of root.children; let i = index">
      <li>
        <app-rule-tree [root]="node" (onOperatorAdded)="operatorEmitter($event)" (onRuleRequested)="addRule($event)"> </app-rule-tree>
      </li>
    </ul>
  </div>

</div>