<!-- Modal quick help -->
<div class="modal-header">
  <div class="modal-title va-heading1 text-center">Quick Help</div>
  <div>
    <button #closeBtn type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      
    </button>
  </div>
</div>
<div class="modal-body text-center">
  <div class="va-text">
    <b>Right-click:</b> Context menu for associated object
    <br>
    <b>Shift + drag:</b> Box selection (select touched nodes and included edges)
    <br>
    <b>Shift + click:</b> Add/remove an element to/from the current selection
  </div>
  <div class="va-heading1">Tips</div>
  <div class="va-text">
    <b>Settings > Emphasize on hover:</b> To focus on a node (edge) and its neighbors (source/target) on mouse
    over
    <br>
    <b>Select multiple objects:</b> To see their attributes as a table
  </div>
</div>