<!-- Modal about -->
<div class="modal-header">
  <div class="modal-title va-heading1 text-center">About</div>
  <div>
    <button #closeBtn type="button" class="btn-close" data-dismiss="modal" aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      
    </button>
  </div>
</div>
<div class="modal-body text-center">
  <div class="va-text">
    <span [innerHTML]="toolName"></span> version <span>{{softwareVersion}}</span>
    <p *ngIf="buildTime">Last update: {{buildTime}}</p>
    <div class="m-3">
      <img [src]="toolLogo" height="120" class="d-inline-block align-top" alt="Logo">
    </div>
    <div>{{companyName}}</div>
    <div>{{companyContact}}</div>
  </div>
</div>