<div id="timebar" class="d-none">
  <!--Div that will hold the dashboard-->
  <div id="dashboard_div">
    <!--Divs that will hold each control and chart-->
    <div id="chart_div" class="mb-n4"></div>
    <div class="d-flex justify-content-between" id="timebar-ctrl-pnl">
      <div class="va-small-text m-1">{{statsRange1Str}} &nbsp; | &nbsp; {{graphRange1Str}}</div>
      <div class="d-flex justify-content-center">
        <div class="mx-1">
          <a href="#" (click)="s.coverAllTimes()" title="Show all range">
            <img src="/assets/img/width.svg">
          </a>
        </div>
        <div class="mx-1">
          <a href="#" (click)="s.changeZoom(true)" title="Zoom in">
            <img src="/assets/img/add.svg">
          </a>
        </div>
        <div class="mx-1">
          <a href="#" (click)="s.changeZoom(false)" title="Zoom out">
            <img src="/assets/img/minus.svg">
          </a>
        </div>
        <div class="mx-1">
          <a href="#" (click)="s.moveCursor(true)" title="Backward">
            <img src="/assets/img/left-arrow.svg">
          </a>
        </div>
        <div class="mx-1">
          <a href="#" (click)="playTiming()" title="Play / Pause">
            <img [src]="currPlayIcon">
          </a>
        </div>
        <div class="mx-1">
          <a href="#" (click)="s.moveCursor(false)" title="Forward">
            <img src="/assets/img/right-arrow.svg">
          </a>
        </div>
      </div>
      <div class="va-small-text m-1">{{graphRange2Str}} &nbsp; | &nbsp; {{statsRange2Str}}</div>
    </div>
    <div id="filter_div"></div>
  </div>

</div>