<div class="panel-group">
  <div class="panel">
    <div class="panel-heading" data-toggle="collapse" data-target="#advanced-query-tab" aria-expanded="true">
      <span class="panel-title accordion-toggle"><b class="va-heading2">General Queries</b></span>
    </div>

    <div id="advanced-query-tab" class="show collapse text-center m-1">
      <app-advanced-queries></app-advanced-queries>
    </div>
  </div>

  <div class="panel">
    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#custom-query-tab" aria-expanded="true">
      <span class="panel-title accordion-toggle"><b class="va-heading2">Custom Queries</b></span>
    </div>

    <div id="custom-query-tab" class="collapse text-center m-1">
      <div>
        <div class="va-text">
          <div class="d-flex align-items-center justify-content-center">
            <select class="custom-select tight-select filter-form va-small-text query-select" [(ngModel)]="selectedQuery"
              (change)="changeQuery($event)">
              <option ng-hide="model" value="">Please choose a query</option>
              <option *ngFor="let p of queryTypes" [value]="p">{{p}}</option>
            </select>
          </div>
        </div>
      </div>

<!-- <app-query0 *ngIf="selectedIdx==0"></app-query0>
<app-query1 *ngIf="selectedIdx==1"></app-query1> -->
