<div>
  <div id="map">
    <div class="leaflet-control-container">
      <div class="leaflet-top leaflet-left custom-operations-container">
        <div class="leaflet-control-zoom leaflet-bar leaflet-control">
          <span (click)="hideNodes()" title="Hide"><img class="icon" src="../../../assets/img/toolbar/hide-selected.svg" alt="Hide"></span>
          <span (click)="highlightNodes()" title="Highlight"><img class="icon" src="../../../assets/img/toolbar/highlight-selected.svg" alt="Highlight"></span>
          <span (click)="removeHighlights()" title="Remove Highlight"><img class="icon" src="../../../assets/img/toolbar/remove-highlights.svg" alt="Remove Highlight"></span>
        </div>
      </div>
    </div>
  </div>
</div>
